@{
    ViewBag.Title = "About";
}
<div class="container">
    <section class="quotes" style="background-color:white;">
        <div>
            <h3>الآراء</h3>

            <div class="slides">
                <div class="quote-block">
                    <p>
                        "هذا الموقع سوف يسهل علينا عملية حجز البونات دون بذل أي جهد"
                    </p>
                    <span>أحد الطلاب </span>
                </div>
                <div class="quote-block">
                    <p>

                        "سوف يجعل الطلاب كلهم سواسية ولا يتم تمميز طالب عن اخر "
                    </p>
                    <span>أحد الطلاب</span>
                </div>
                <div class="quote-block">
                    <p>
                        "هذا العمل سيوفر علينا الكثير من الأموال والمجهودات التي تذهب هباءاً"
                    </p>
                    <span>أحد المديرين بالمدن الجامعية  </span>
                </div>

            </div>
        </div>
    </section>
</div>
