
@{
    ViewBag.Title = "Quetion";
}

<section class="faq">
    <div class="container">
        <div class="question">
            <h5 data-toggle="collapse" href="#q1" aria-expanded="true">
                نبذه عن الموقع؟
                <span class="icon">
                    <span></span>
                    <span></span>
                </span>
            </h5>
            <div class="details in collapse show" id="q1">
                <div class="toRead">
                    " يقوم بحوسبة نظام حجز الوجبات حيث يتم تحويل النظام المتبع في المدن الجامعية من يدوي إلى نظام إلي محسوب أكثر دقة وسرعة في العمل وأحفظ للوقت والجهد وامن وذو سرية عالية "
                </div>
            </div>
        </div>
        <div class="question">
            <h5 data-toggle="collapse" href="#q2" aria-expanded="true">
                ما هي أهداف الموقع؟
                <span class="icon">
                    <span></span>
                    <span></span>
                </span>
            </h5>
            <div class="details in collapse show" id="q2">
                <div class="toRead">
                    "تحويل نظام الحجز اليدوي إلى نظام الحجز الالكتروني ،تعريف النظام و تصميم هيكل تنظيمي لنظام الحجز للطالب الجامعي ،تصميم المخططات لنظام الحجز"
                </div>
            </div>
        </div>
        <div class="question">
            <h5 data-toggle="collapse" href="#q3" aria-expanded="true">
                ما هي أهداف الموقع؟
                <span class="icon">
                    <span></span>
                    <span></span>
                </span>
            </h5>
            <div class="details in collapse show" id="q3">
                <div class="toRead">
                    "تحديد المدخلات والمخرجات لنظام الحجز ،تصميم شاشات الإدخال والإخراج
                    تصميم التقارير و قاموس بيانات ،تحديد مشاكل النظام واقتراح الحلول لمشاكل           النظام ، الاطلاع على أدوات جمع البيانات ،توفير الوقت والجهد المبذول للطالب "

                </div>
            </div>
        </div>
        <div class="question">
            <h5 data-toggle="collapse" href="#q4" aria-expanded="true">
                ما هي أهداف الموقع؟
                <span class="icon">
                    <span></span>
                    <span></span>
                </span>
            </h5>
            <div class="details in collapse show" id="q4">
                <div class="toRead">
                    "السرعة والسهولة في عملية استخراج واسترجاع البيانات ،كفاءة النظام في الحفاظ على سرية وامن المعلومات ،سهولة حجز الوجبات من أي مكان ،عمل كل شخص في مجال عمله
                    تجاوز عمليات الجرد وإعداد التقارير ،تسهيل عملية مراقبة نظام الحجز"

                </div>
            </div>
            </div>
            <div class="question">
                <h5 data-toggle="collapse" href="#q4" aria-expanded="true">
                    ما هو نظام الحجز ؟
                    <span class="icon">
                        <span></span>
                        <span></span>
                    </span>
                </h5>
                <div class="details in collapse show" id="q4">
                    <div class="toRead">
                        " نظام يقوم باستقبال الطالب لتلبية طلبه لحجز وجبات اليوم التالي التي تتضمن وجبات الغذاء والعشاء  والإفطار لليوم الذي يليه دون جهد وبكل سهولة ويسر " 
                    </div>
                </div>
            </div>

</section>
