<li class="dropdown" data-admin-menu>
    <a href="#">
        Admin
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <ul class="dropdown-menu" role="menu"> 
        @*Place our menu items*@
        <li class="dropdown-header">مدير المطعم</li>
        <li class="divider"/>
        <li><a href="#">&nbsp;&nbsp;section</a></li>
        <li><a href="#">&nbsp;&nbsp;part</a></li>
        <li><a href="#">&nbsp;&nbsp;panel</a></li>
        <li><a href="#">&nbsp;&nbsp;action</a></li>
        <li><a href="#">&nbsp;&nbsp;reserve</a></li>
        <li class="divider" />

        <li class="dropdown-header">مشرف المطعم</li>
        <li class="divider" />
        <li><a href="#">&nbsp;&nbsp;Booking</a></li>
        <li><a href="#">&nbsp;&nbsp;Pay</a></li>
        <li><a href="#">&nbsp;&nbsp;Fine</a></li>
        <li><a href="#">&nbsp;&nbsp;Organize</a></li>
        <li class="divider" />

        <li class="dropdown-header">مشرف البونات</li>
        <li class="divider" />
        <li><a href="#">&nbsp;&nbsp;section</a></li>
        <li><a href="#">&nbsp;&nbsp;part</a></li>
        <li><a href="#">&nbsp;&nbsp;panel</a></li>
        <li><a href="#">&nbsp;&nbsp;action</a></li>

        <li class="dropdown-header">الطالب</li>
        <li class="divider" />
        <li><a href="#">&nbsp;&nbsp;section</a></li>
        <li><a href="#">&nbsp;&nbsp;part</a></li>
        <li><a href="#">&nbsp;&nbsp;panel</a></li>
        <li><a href="#">&nbsp;&nbsp;action</a></li>
    </ul>
</li>
