@{
    ViewBag.Title = "تم التأكد من الحساب";
}

@*<h2 class="H">@ViewBag.Title.</h2>
<div class="alert alert-success">
    <p style="position:center; text-align:center;" >
        شكرا لتفعيلك الحساب الخاص بك , لوسمحت  @Html.ActionLink("اضغط هنا لتسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div*@>

<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <h5 style="text-align:center; color:#1c5e84;"> شكرا لتفعيلك الحساب الخاص بك , لوسمحت  @Html.ActionLink("اضغط هنا لتسجيل الدخول", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</h5>
</div>