@{
    ViewBag.Title = "استرجاع كلمة المرور الخاصة بك";
}

@*<hgroup class="title">
    <h1 class="H">@ViewBag.Title.</h1>
</hgroup>
<div class="alert alert-success">
    <p style="text-align:center;">
       لو سمحت افحص البريد الاكترونى الخاص بك لتاكد من وصول رابط التأكيد
    </p>
</div>*@
	
<div class="shadow-lg p-3 mb-5 bg-white rounded">
    <h5 style="text-align:center; color:#1c5e84;">لو سمحت افحص البريد الاكترونى الخاص بك لتاكد من وصول رابط التأكيد</h5>
</div>