@model UnivercityCityFood.Models.Day

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="signUp">
    <div class="form">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-xl-4">
                    <div class="data-view">
                        <h5>اليوم</h5>
                        <div class="field">
                            @Html.DisplayFor(model => model.DayName)
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-4">
                    <div class="data-view">
                        <h5>تفاصيل اليوم</h5>
                        <div class="field">
                            @Html.DisplayFor(model => model.DayDescription)
                        </div>
                    </div>
                </div>
            </div>
            <div class="actions">
                @Html.ActionLink("تعديل", "Edit", new { id = Model.DayID }, new { @class = "btn btn-danger" }) |
                @Html.ActionLink("عودة", "Index","", new { @class = "btn btn-danger" })
            </div>
        </div>
    </div>
</section>